<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
        <ion-input placeholder="Informe seu nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
        <ion-input placeholder="Informe seu e-mail" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
        <ion-input placeholder="Informe seu senha" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gênero</ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Confirmar">
          <ion-select-option>Masculino</ion-select-option>
          <ion-select-option>Feminino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Receber informações?</ion-label>
        <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-list-header>Interesses</ion-list-header>
    </ion-item>
    
  <ion-item>
      <ion-label>Backend</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
   </ion-item>

  </ion-list>

  <ion-button expand="block" (click)="presentToast('top')">Toast</ion-button>
</ion-content>
