<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>lista</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
        <ion-label>Hanamich</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gori</ion-label>
  </ion-item>
  </ion-list> 
 

 <ion-img src="/assets/hanamich.png"></ion-img> 
 <ion-img src="/assets/rukawa.jpg"></ion-img>
</ion-content>
